* {
	margin: 0px;
	padding: 0px;
}

ol, ul {
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

div#layout {
	border: 1px solid #a3a2a3;
	margin: 20px auto;
	width: 900px;
}

div#header {
    padding: 10px;
}

div.hLeft {
	float: left;
}

div.hLeft h1 {
    margin-bottom: 20px;
}

div.hRight {
	float: right;
}

div.hRight div.hButton {
	margin-bottom: 37px;
	text-align: right;
}

div.hRight ul.hButton li {
    display: inline;
}

div.hRight ul.hNav {
    text-align: right;
}

div.hRight ul.hNav li {
    display: inline;
    border-right: solid 1px #333;
    padding: 0 5px;
}

div.hRight ul.hNav li.last {
    border-right: none;
    padding-right: 0;
}

div#gNav {
	clear: both;
}


div#gNav ul {
    background: url(../images/bg_gnav.gif) repeat-x;
    border: 1px solid #000;
    height: 22px;
    padding: 12px 0;
}

div#gNav ul li {
    border-right: solid 1px #fff;
    display: inline;
    padding: 0 10px;
}

div#gNav ul li.last {
    border-right: none;
    padding-right: 0;
}


div#gNav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div#gNav ul li a:hover {
    color: yellow;
}

div#pageBody {
    padding: 20px 10px;
}

div#content {
    float: left;
    width: 620px;
}

div#content h2 {
    border-bottom: 1px solid #666666;
    font-size: 120%;
    margin-bottom: 10px;
}

/*site9*/
div#content div.newProduct {
    margin-bottom: 20px;
}
/*end site9*/

div#content div.newProduct p.image {
    float: left;
    width: 241px;
}

div#content div.newProduct div {
    float: right;
    width: 350px;
}

div#content div.newProduct div h3 {
    color: #5870e6;
    margin-bottom: 10px;
}

div#content ul.thumbList {
    background: #f9f8f8;
    border: 1px solid #ebeaea;
    clear: both;
    padding: 10px;
}

div#content ul.thumbList li {
    display: inline;
    padding-right: 8px;
}

div#sidebar {
    float: right;
    width: 240px;
}

div#footer {
    clear: both;
}

/*site9*/
div#content div.newProduct {
    zoom: 1;
}

div#content div.newProduct:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/*end site9*/